---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Primera pag" description="La primera pagina del sitio web">
  <div
    class="h-screen flex justify-center items-center text-center text-8xl text-white font-extrabold"
  >
    test
  </div>
</Layout>
