---
import Layout from '../layouts/Layout.astro'

import Header from '../components/sections/Header.jsx'
import Hero from '../components/sections/Hero.astro'
import AboutUs from '../components/sections/AboutUs.astro'
import OurProducts from '../components/sections/OurProducts.astro'
import ContactUs from '../components/sections/ContactUs.astro'
import Footer from '../components/sections/Footer.astro'
---

<Layout title="Primera pag" description="La primera pagina del sitio web">
  <div class="min-h-screen">
    <Header client:load />
    <Hero />
  </div>
  <main>
    <AboutUs />
    <OurProducts />
    <ContactUs />
  </main>
  <Footer />
</Layout>
