---
import '@fontsource-variable/inter'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  :root {
    color-scheme: dark;
    @apply bg-pale text-night;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #336349;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #234332;
  }
  ::-webkit-scrollbar-track {
    background: #1b3629;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #666;
  }

  body {
    font-family: 'Inter Variable', sans-serif;
  }
</style>
